@model mvc.ViewModels.Account.RegisterViewModel

<style>
.error {
    color: var(--error-text);
}
</style>

@{
    if (!ViewData.ModelState.IsValid)
    {
        <div class="error">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        </div>
    }
}

<section>
    <h1>Register</h1>
    <form asp-action="Register" method="Post">
        <div>
            <label asp-for="UserName"></label>
            <input asp-for="UserName">
            <span class="error" asp-validation-for="UserName"></span>
        </div>
        <div>
            <label asp-for="Email"></label>
            <input asp-for="Email">
            <span class="error" asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName">
            <span class="error" asp-validation-for="FirstName"></span>
        </div>
        <div>
            <label asp-for="LastName"></label>
            <input asp-for="LastName">
            <span class="error" asp-validation-for="LastName"></span>
        </div>
        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password">
            <span class="error" asp-validation-for="Password"></span>
        </div>
        <div>
            <button type="Submit">Register</button>
        </div>
    </form>
</section>
