@using System.IdentityModel.Tokens.Jwt
@using System.Linq
@using System.Security.Claims

@{
    string username = "Guest"; // Default username
    var jwtToken = Context.Request.Cookies["access_token"];
    if (!string.IsNullOrEmpty(jwtToken)) {
        var handler = new JwtSecurityTokenHandler();
        try {
            var jsonToken = handler.ReadToken(jwtToken);
            var tokenS = jsonToken as JwtSecurityToken;

            var nameClaim = tokenS?.Claims.FirstOrDefault(claim => claim.Type == ClaimTypes.Name);
            if (nameClaim != null) {
                username = nameClaim.Value;
            }
        } catch (Exception ex) {
            // Handle exception, perhaps log it
        }
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/index-content.css">
    <link rel="stylesheet" href="~/css/admin-navbar.css">

</head>
<body>

    <nav class="navbar">
        <div class="navbar-container">
            <a asp-controller="Home" asp-action="Index" class="navbar-logo">Square Circle</a>
            <div class="navbar-buttons"></div>
                <a asp-controller="account" asp-action="profile">
                    <div class="navbar-profile">
                        <img src="~/img/user.png" alt="Profile Picture" class="profile-pic">
                        <span class="profile-name">@username</span>
                    </div>
                </a>
                <a asp-controller="account" asp-action="logout" class="navbar-btn logout">Log out</a>
            </div>
        </div>
    </nav>


    <main>
        @RenderBody()
    </main>

<script src="~/js/index-content.js"></script>
<script src="~/js/auth.js"></script>
</body>
</html>