<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/index-content.css">
    <link rel="stylesheet" href="~/css/navbar.css">

</head>
<body>

    <nav class="navbar">
        <div class="navbar-container">
            <a href="/" class="navbar-logo">Square Circle</a>
            <div class="navbar-buttons">
                <button class="navbar-btn login">Log in</button>
                <button class="navbar-btn register">Register</button>
            </div>
        </div>
    </nav>


    <main>
        @RenderBody()
    </main>

@* <script src="~/js/index-content.js"></script> *@
@* <script src="~/js/auth.js"></script> *@
</body>
</html>
