<div id="bookCircleContainer" class="half-container"></div>
<div id="bookReviewContainer" class="half-container"></div>

<!-- Modal overlay -->
<div class="modal-overlay"></div>

<!-- Modal 1 -->
<div id="modal1" class="modal">

  <button class="close-button" id="closeModal1">X</button>
  <div class="form-wrapper"> <!-- New wrapper div -->
    <form id="search-form">
      <input type="text" id="search-input" placeholder="Search for book...">
    </form>
    <div id="resultsDropdown" class="dropdown"></div>
  </div>

</div>

<!-- Modal 2 -->
<div id="modal2" class="modal">
  
    <button class="close-button" id="closeModal2">X</button>

    <div id="formContainer" class="modal-content">
      <img id="bookImage" src="" alt="bokbild hamnar här"/>
      <form id="bookForm">
        <div class="book-metadata">
          <div id="bookTitle"></div>
          <div id="bookYear"></div>
          <div id="bookAuthor"></div>
        </div>
        <textarea id="bookReview" placeholder="Write your review here (optional)"></textarea>
        <div class="radio-buttons">
          <input type="radio" id="wantToRead" name="readStatus" value="Want to read" checked>
          <label for="wantToRead">Want to read</label>
          <input type="radio" id="haveRead" name="readStatus" value="Have read">
          <label for="haveRead">Have read</label>
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>

</div>