<div id="bookCircleContainer" class="half-container"></div>
<div id="bookReviewContainer" class="half-container"></div>

<!-- Modal overlay -->
<div class="modal-overlay"></div>

<!-- Modal 1 -->
<div id="modal1" class="modal">

  <button class="close-button" id="closeModal1">X</button>
  <div class="form-wrapper"> <!-- New wrapper div -->
    <form id="search-form">
      <input type="text" id="search-input" placeholder="Search for book...">
    </form>
    <div id="resultsDropdown" class="dropdown"></div>
  </div>

</div>

<!-- Modal 2 -->
<div id="modal2" class="modal">
  
    <button class="close-button" id="closeModal2">X</button>

    <div id="formContainer" class="modal-content">
      <img id="bookImage" src="" alt="bokbild hamnar här"/>
      <form id="bookForm">
        <div class="book-metadata">
          <div id="bookTitle"></div>
          <div id="bookYear"></div>
          <div id="bookAuthor"></div>
        </div>
        <textarea id="bookReview" placeholder="Write your review here (optional)"></textarea>
        <div class="radio-buttons">
          <input type="radio" id="wantToRead" name="readStatus" value="Want to read" checked>
          <label for="wantToRead">Want to read</label>
          <input type="radio" id="haveRead" name="readStatus" value="Have read">
          <label for="haveRead">Have read</label>
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>

</div>

<!-- "Log in"-modal -->
<div class="custom-modal" id="loginModal">
  <div class="custom-modal-content">
    <h4>Log-in</h4>
    <button class="close-button" onclick="closeModal('loginModal')">&times;</button>
    <form id="loginForm">
      <input type="text" id="login-username" placeholder="Username">
      <input type="password" id="login-password" placeholder="Password">
    </form>
    <button onclick="submitLoginForm()">Log in</button>
  </div>
</div>

<!-- "Register"-modal -->
<div class="custom-modal" id="registerModal">
  <div class="custom-modal-content">
    <h4>Registration</h4>
    <button class="close-button" onclick="closeModal('registerModal')">&times;</button>
    <form id="registerForm">
      <input type="text" id="register-username" placeholder="Username">
      <input type="password" id="register-password" placeholder="Password">
      <input type="email" id="register-email" placeholder="Email">
      <input type="text" id="register-firstName" placeholder="First Name">
      <input type="text" id="register-lastName" placeholder="Last Name">
    </form>
    <button onclick="submitRegistrationForm()">Register</button>
  </div>
</div>