<h1 id="instruction-text">STEP 1: SEARCH BOOK</h1>
<form asp-action="bookresults" method="get">
    <input type="text" name="query" id="search-input" placeholder="Search books...">
    <button type="submit">Search</button>
</form>
