@model mvc.ViewModels.Event.EventEditViewModel

<section class="page">
    <h1 class="page-title">Redigera Event</h1>
    <form class="shadow" asp-action="Edit" asp-controller="Event" method="post">
        <div class="form-control">
            <label asp-for="Title">Title</label>
            <input asp-for="Title" />
            <span class="error" asp-validation-for="Title"></span>
        </div>
        <div class="form-control">
            <label asp-for="Book"></label>
            <input asp-for="Book" />
            <span class="error" asp-validation-for="Book"></span>
        </div>
        <div class="form-control">
            <label asp-for="Description"></label>
            <input asp-for="Description" />
            <span class="error" asp-validation-for="Description"></span>
        </div>
        <div class="form-control">
            <label asp-for="StartDate"></label>
            <input asp-for="StartDate" />
            <span class="error" asp-validation-for="StartDate"></span>
        </div>
        <div class="form-control">
            <label asp-for="EndDate"></label>
            <input asp-for="EndDate" />
            <span class="error" asp-validation-for="EndDate"></span>
        </div>
        <div class="form-control">
            <div class="buttons-container">
                <button type="Submit" class="btn btn-primary"><i class="fa-sharp fa-solid fa-floppy-disk"></i>
                    Spara</button>
                <a asp-action="Index" asp-controller="Event" class="btn btn-warning"><i
                        class="fa-solid fa-arrow-left"></i> Avbryt</a>
            </div>
        </div>
    </form>
</section>
