@model IList<mvc.ViewModels.Event.EventListViewModel>

@{
    ViewData["Title"] = "Events";
}


<div class="event-top-img">
    <div class="content">
        <h1>Event</h1>
        <p>Här nedan kan du se alla inlagda event</p>
    </div>

</div>
<div class="handle-event">
    <a asp-action="create" asp-controller="Event" >Skapa event</a>
</div>

<section class="events-boxes">
    <div class="event-box">
        @foreach (var events in Model)
        {
            <div class="event-info">
                <h1>@events.Title</h1>
                <p>Beskrivning: @events.Description</p>

                <div class="handle-event">
                    <a asp-action="details" asp-controller="Event" asp-route-Id=@events.Id method="get">Redigera</a>
                </div>

                <div class="handle-event">
                    <a asp-action="Delete" asp-controller="Event" asp-route-Id=@events.Id>Ta bort</a>
                </div>
            </div>
        }
    </div>

</section>
